body {
  font-family: Montserrat;
}

.titleBar {
  display: flex;
  height: 80px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  width: 200px;
  font-size: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact {
  position: relative;
  left: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: grey;
}

.dateBar {
  height: 50px;
  display: flex;
  padding-left: 40px;
  margin-top: 40px;
  font-weight: 700;
}

.monthly {
  font-size: 18px;
}

.page {
  position: relative;
  left: 250px;
}

.companyInfo {
  padding-left: 40px;
}

.customerAmmountBar {
  display: flex;
}
.cardTransactions {
  font-size: 18px;
  font-weight: 700;
  padding-left: 45px;
  margin-top: 40px;
}

.totalAmount {
  display: flex;
  margin-left: 150px;
}

.totalDue {
  display: flex;
  background-color: lightgrey;
  margin-left: 150px;
}
.amount {
  padding-left: 60px;
}
